NoteTaking/NoteTaking.Wcf.TestClient/Connected Services/UserServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NoteTaking.Wcf.Contracts.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NoteTaking.Wcf.Contracts.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/NoteTaking.Wcf.Implementation/UserService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserCreateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCreateDto" nillable="true" type="tns:UserCreateDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
</xs:schema>