NoteTaking/NoteTaking.Wcf.TestClient/Connected Services/UserServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/NoteTaking.Wcf.Implementation/UserService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NoteTaking.Wcf.Contracts.Models" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NoteTaking.Wcf.Contracts.Models" minOccurs="0" name="userCreateDto" nillable="true" type="q1:UserCreateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NoteTaking.Wcf.Contracts.Models" minOccurs="0" name="CreateResult" nillable="true" type="q2:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>